<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.chat.dao.UserInfoMapper">
    <resultMap id="friends" type="com.yb.chat.base.UserBase">
        <result property="name" column="name" jdbcType="VARCHAR"></result>
        <result property="img" column="img" jdbcType="VARCHAR"></result>
        <result property="remark" column="remark" jdbcType="VARCHAR"></result>
        <result property="gender" column="gender" jdbcType="TINYINT"></result>
    </resultMap>
    <select id="findFriendsById" resultMap="friends" parameterType="String">
        SELECT
            c1.name,
            c1.img,
            c1.gender,
            c1.remark
        FROM
            chat_base_info.user_info c1
        WHERE
            c1.id != #{id}
    </select>
</mapper>